includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
    - ./vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
parameters:
    paths:
        - app
    level: max
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    databaseMigrationsPath:
        - database/migrations
